[run]
omit =
    */tests/*
    *test*
    *__init__*
    *main.py

[report]
exclude_lines =
    doNotTest
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == __main__:
    logger
    __str__
