aiohttp==3.7.4.post0
apipkg==1.5
APScheduler==3.7.0
async-timeout==3.0.1
attrs==20.3.0
beautifulsoup4==4.9.3
bs4==0.0.1
chardet==4.0.0
coverage==5.5
execnet==1.8.0
idna==3.1
iniconfig==1.1.1
lxml==4.6.2
more-itertools==8.7.0
multidict==5.1.0
packaging==20.9
pep8==1.7.1
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.2
pytest-asyncio==0.14.0
pytest-cache==1.0
pytest-cov==2.11.1
pytest-pep8==1.0.6
pytz==2021.1
six==1.15.0
soupsieve==2.2
toml==0.10.2
typing-extensions==3.7.4.3
tzlocal==2.1
yarl==1.6.3
colorama==0.4.4
structlog==21.1.0
